html {
  padding-right: 1em;
  padding-left: 1em;
}

body {
margin: 0 auto;
max-width: 50em;
font-family: "Helvetica Neue", sans-serif;
line-height: 1.5;
padding: 4em 1em;
color: #555

}

h2 {
margin-top: 1em;
padding-top: 1em;
}

.profile {
float: right;
max-width: 38%;
margin-left: 1.5em;
margin-bottom: 1em;
}

.social {
margin-top: 2em;
}

.social svg {
width: 18px;
height: 18px;
margin-top: 0;
padding-right: 14px;
display: block;
float: left;
}

.professional {
margin-top: 2em;
padding-top: 0em;
margin-bottom: -.5em;
}

#personal {
margin-top: 2em;
}

#ned {
color: #120bbc;
}

h1,
h2,
strong {
color: #000000;
}

a {
  text-decoration: none;
  color: #120bbc;
}

a:hover {
padding: 0 .25em;
border-radius: .25em;
background: #120bbc;
color: #FFFFFF !important; 
}

div.section {
padding-top: 1em;
text-align: justify;
}
