body {
  margin: 1em auto;
  max-width: 45em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  padding: 1em 1em;
  color: #4d4d4d
}

h1 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
strong {
  color: #000000;
}

div.section {
  text-align: justify;
}

.profile {
  float: right;
  max-width: 40%;
  margin-left: 1.5em;
}

.social {
  margin-top: 2em;
  padding-top: 0em;
  margin-bottom: 1em;
}

.disable {
  pointer-events: none;
}

#title {
  color: #120bbc;
}

a {
  color: #120bbc;
}

a:hover {
  background: #120bbc;
  color: #FFFFFF !important; 
}
