body {
  margin: 1em auto;
  max-width: 45em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  padding: 1em 1em;
  color: #4d4d4d
}

h1 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
strong {
  color: #000000;
}

div.section {
  text-align: justify;
}

.profile {
  float: right;
  max-width: 40%;
  margin-left: 1.5em;
}

.social {
  margin-top: 2em;
  padding-top: 0em;
  margin-bottom: 1em;
}

#title {
  color: #0863c4;
}

a {
  background: #e7f2fe;
  color: #000000;
  text-decoration: none
}

a:hover {
  background: #0863c4;
  color: #FFFFFF !important;
  text-decoration: none
}

.social a:hover {
    background-color: inherit !important;
    color: inherit !important;
}
