html {
  padding-right: 1em;
  padding-left: 1em;
}

body {
  margin: 0 auto;
  max-width: 45em;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555
}

h1 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
strong {
  color: #000000;
}

#title {
  color: #120bbc;
}

.profile {
  float: right;
  max-width: 38%;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.social {
  margin-top: 2em;
  padding-top: 0em;
  margin-bottom: -.5em;
}

.professional {
  margin-top: 2em;
  padding-top: 0em;
  margin-bottom: -.5em;
}

.personal {
  margin-top: 2em;
}

a {
  color: #120bbc;
}

a:hover {
  background: #120bbc;
  color: #FFFFFF !important; 
}

.disable {
  pointer-events: none;
}

div.section {
  text-align: justify;
}
